html, body {
	height: 100%;
}

.main-title {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	background-color: @brand-primary;
	color: white;
	margin: 5px 0;
	margin-bottom: 15px;
	padding: 5px;
}

.links-list {
	.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		border: 1px solid black;
		text-align: center;
		color: @brand-primary;
		background-color: white;
		margin-top: 5px;
		border: none;

		&:hover, &:active, &:focus {
			position: relative;
			display: block;
			padding: 10px 15px;
			margin-bottom: -1px;
			border: 1px solid black;
			text-align: center;
			color: @brand-primary;
			background-color: white;
			margin-top: 5px;
			border: none;
		}

		img {
			height: 32px;
			float: left;
			position: relative;
			top: -6px;
		}
	}
}

.img-container {
	background-size: cover;
	background-position: center;
	width: 100%;
	// height: 750px;
	overflow: scroll;
}

.table.table-striped {
	th {
		text-align: center;
	}
}