.noticia {
	margin-bottom: 20px; 
	border-bottom: 1px solid grey; 
	padding: 0 15px; 
	background-color: rgba(255,255,255,0.6); 
	box-shadow: 2px 2px 5px 0 #666;
	padding: 15px;
	text-align: center;
	
	.title {
		font-weight: bolder;
		font-size: 15px;
		padding: 5px;
		color: white;
		background-color: fade(@brand-primary, 70%);
	}

	.date {
		color: #ddd;
		font-size: 13px;
		text-align: center;		
		background-color: fade(@brand-primary, 70%);
	}

	.lead {
		font-weight: bold;
		font-size: 13px;
		margin: 5px 0 0 0;
	}

	.link {
		background-color: fade(#000, 85%);
		padding: 2px;
		margin: 2px 0;
	}

	.description {
		margin: 15px 0 0 0;
		font-size: 12px;
		text-align: left;
	}

	.image {
		height: 250px; 
		background-position: center; 
		background-size: cover;
	}
}